* {
    outline: none;
    font-family: 'Karla', sans-serif;
    overflow-x: hidden;
  }

button {
    border: none;
}

.rounded-6 {
    border-radius: 20px!important;
  }

.btn-pink, .bg-pink {
    background-color: #FF597B;
}

.pointer {
    cursor: pointer;
}

